
@{
    ViewBag.Title = "Listado de busquedas";
}
@section styles{
    <link href="~/Content/css/busquedas.css" rel="stylesheet" />
}

<!-- Busquedas -->
<div>
    <h2>Busquedas Activas</h2>
    <div  id="BusquedasActivas" class="row">
        @if (ViewBag.Busquedas != null)
        {
            foreach (RRHH.Models.Jobs row in ViewBag.Busquedas)
            {
                <div>
                    <a href="@Url.Action("VerBusqueda", "Jobs", new { ID = row.ID })">
                        <div class="job col-md-7 col-md-offset-1">
                            <h3><strong><span class="tituloBusqueda">@row.Name</span></strong></h3>
                            <p class="pDate"><strong>Fecha:</strong> @row.Date.Day/@row.Date.Month/@row.Date.Year</p>
                            <p class="pCompany"><strong>Empresa:</strong> @row.Company.Name</p>

                            @*<p><strong>Descripcion del puesto:</strong> <span class="descripcionBusqueda">@row.Description</span></p>*@
                            @*<p>
                                @if (Session["UsuarioLogueado"] != null)
                                {
                                    if ((((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 1)
                                    {
                                        <a class="button-modal btn btn-danger botonEditar" href="@Url.Action("EditarBusqueda", "ControlPanel", new { id_job = row.ID })" role="button">Editar</a>
                                    }
                                }
                                else { }
                                @if(Session["UsuarioLogueado"] == null || (((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 2)
                                {
                                    <a class="button-modal btn btn-primary botonPostularse" href="@Url.Action("ApplyJob", "Users", new { id_job = row.ID })" role="button">Postularse</a>
                                }
                            </p>*@
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>