
@{
    ViewBag.Title = "NuevaBusqueda";
}
@section styles{
    <link href="~/Content/css/editarBusqueda.css" rel="stylesheet" />
}


<br /><br /><br />
<!-- EditarBusqueda -->
<div class="row" id="formEditarBusqueda">
    <form action="@Url.Action("EditarBusquedaGuardarCambios","Jobs")" method="post">
        <div>
            <h3>Editar busqueda</h3>
        </div>
        <br>
        <div class="form-group col-md-6 col-md-offset-1">
            <label for="tituloPuesto">Título del Puesto</label>
            <input type="text" class="form-control" value="@ViewBag.JobAmodificar.JobName" id="tituloBusqueda" name="job_name">
            @*<input type="datetime" class="oculto" value="@ViewBag.JobAmodificar.JobDate" id="fechaBusqueda" name="job_date"> NO QUIERO MODIFICAR LA FECHA*@
            <input type="number" class="oculto" value="@ViewBag.JobAmodificar.JobID" id="idBusqueda" name="job_id">
        </div>
        <div class="form-group col-md-6 col-md-offset-1">
            <label for="descripcionPuesto">Descripcion del puesto</label>
            <textarea type="text" class="form-control" rows="9" id="descripcionPuesto" name="job_description">@ViewBag.JobAmodificar.JobDescription</textarea>
        </div>
        <div class="form-group col-md-6 col-md-offset-1">
            <label for="empresaPuesto">Empresa</label>
            <select id="companySelect" name="company_id">
                @foreach (RRHH.Models.Company row in ViewBag.Company)
                {
                    if (ViewBag.JobAmodificar.Company.CompanyID == row.CompanyID)
                    {
                        <option value="@row.CompanyID" selected="selected">@row.CompanyName</option>
                    }
                    else
                    {
                        <option value="@row.CompanyID">@row.CompanyName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6 col-md-offset-1">
            <label for="estadoPuesto">Estado de la busqueda</label>
            <select id="jobStatusSelect" name="job_status_id">
                @foreach (RRHH.Models.JobStatus row in ViewBag.JobStatus)
                {
                    if(ViewBag.JobAmodificar.JobStatus.JobStatusID == row.JobStatusID)
                    { 
                        <option value="@row.JobStatusID" selected="selected">@row.JobStatusName</option>
                    }
                    else
                    {
                        <option value="@row.JobStatusID">@row.JobStatusName</option>
                    }
                }
            </select>
        </div>
        <div class="footer col-md-6 col-md-offset-1">
            <input id="GuardarNuevaBusqueda" type="submit" class="btn btn-primary" value="Guardar">
        </div>
    </form>
</div>

