
@{
    ViewBag.Title = "-> " + ViewBag.Busqueda.Name;
}
@section styles{
    <link href="~/Content/css/verBusqueda.css" rel="stylesheet" />
}

<!-- Busquedas -->
<div id="busqueda">
    <h2>Detalles busqueda</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <h3><strong><span class="tituloBusqueda">@ViewBag.Busqueda.Name</span></strong></h3>
            <p><strong>Fecha publicado:</strong> @ViewBag.Busqueda.Date.Day/@ViewBag.Busqueda.Date.Month/@ViewBag.Busqueda.Date.Year</p>
            <p><strong>Empresa:</strong> @ViewBag.Busqueda.Company.Name</p>
            <p><strong>Descripcion del puesto:</strong> <span class="descripcionBusqueda">@ViewBag.Busqueda.Description</span></p>
            <p>
                @if (Session["UsuarioLogueado"] != null)
                {
                if ((((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 1)
                {
                        <a class="button-modal btn btn-danger botonEditar" href="@Url.Action("EditarBusqueda", "ControlPanel", new { id_job = ViewBag.Busqueda.ID })" role="button">Editar</a>
                    }
                }
                else { }
                @if (Session["UsuarioLogueado"] == null || (((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 2)
                {
                    <a class="button-modal btn btn-primary botonPostularse" href="@Url.Action("ApplyJob", "Users", new { id_job = ViewBag.Busqueda.ID, nameJob=ViewBag.Busqueda.Name })" role="button">Postularse</a>
                }
            </p>
        </div>
    </div>
</div>