<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scriptsQnecesitoAntesPagina", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">World Solutions RRHH</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Busquedas","Jobs")">Busquedas</a></li>
                    <li><a href="@Url.Action("Contacto","Home")">Contacto</a></li>
                    @*<li><a href="@Url.Action("Registro","Login")">Registro</a></li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UsuarioLogueado"] != null)
                    {
                        <li id="menuUsuario" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="usuarioIngreso">@(((RRHH.Models.Users)Session["UsuarioLogueado"]).FirstName) </span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("MiPerfil","Users")">Mi Perfil</li>
                                @if ((((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 1)
                                {
                                    <li id="controlPanel"><a href="@Url.Action("Index","ControlPanel")">Panel de control</a></li>
                                }
                                @if ((((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 2)
                                {
                                    <li id="misPostulaciones"><a href="@Url.Action("MisPostulaciones","Users")">Mis postulaciones</a></li>
                                }
                                <li role="separator" class="divider"></li>
                                <li><a id="salir" href="@Url.Action("Logout","Users")">Salir</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li id="ingresar"><a href="@Url.Action("Login", "Users")">Ingresar</a></li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <br /><br /><br />
    <div class="container body-content">
        @RenderBody()
 
        <div id="footer" class="container">
            <!-- container footer -->
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - World Solutions RRHH</p>
            </footer>
            <br>
        </div><!-- /.container footer-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>