
@{
    ViewBag.Title = "Busquedas Inactivas";
    Layout = "~/Views/Shared/_Layout_ControlPanel.cshtml";
}

@section styles{
    <link href="~/Content/css/busquedas.css" rel="stylesheet" />
    <link href="~/Content/css/controlPanel.css" rel="stylesheet" />
}

<!-- Busquedas -->
<div>
    <h2>Busquedas Inactivas</h2>
    <div id="BusquedasInactivas" class="row">
        <br />
        @if (ViewBag.BusquedasInactivas != null)
        {
            foreach (RRHH.Models.Jobs row in ViewBag.BusquedasInactivas)
            {
                <div>
                    <a href="@Url.Action("VerBusqueda", "ControlPanel", new { ID = row.ID })">
                        <div class="job col-md-7 col-md-offset-1">
                            <h3><strong><span class="tituloBusqueda">@row.Name</span></strong></h3>
                            <p class="pDate"><strong>Fecha:</strong> @row.Date.Day/@row.Date.Month/@row.Date.Year</p>
                            <p class="pCompany"><strong>Empresa:</strong> @row.Company.Name</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>




@*<div>
    <h2>Busquedas Inactivas</h2>
    <div id="BusquedasActivas" class="row">
        @if (ViewBag.BusquedasInactivas != null)
        {
            foreach (RRHH.Models.Jobs row in ViewBag.BusquedasInactivas)
            {
                <div class="col-md-8 col-md-offset-1">
                    <h3><strong>Puesto:</strong> <span class="tituloBusqueda">@row.Name</span></h3>
                    <p><strong>Fecha:</strong> @row.Date.Day/@row.Date.Month/@row.Date.Year</p>
                    <p><strong>Empresa:</strong> @row.Company.Name</p>
                    <p><strong>Descripcion del puesto:</strong> <span class="descripcionBusqueda">@row.Description</span></p>
                    <span class="oculto">@row.ID</span>
                    <p>
                        @if (Session["UsuarioLogueado"] != null)
                    {
                        if ((((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 1)
                        {
                                <a class="button-modal btn btn-danger botonEditar" href="@Url.Action("EditarBusqueda", "ControlPanel", new { id_job = row.ID })" role="button">Editar</a>
                            }
                        }
                    </p>
                </div>
            }
        }
    </div>
</div>*@
