
@{
    ViewBag.Title = "Busquedas Activas";
    Layout = "~/Views/Shared/_Layout_ControlPanel.cshtml";
}

@section styles{
    <link href="~/Content/css/controlPanel.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/busquedas.js"></script>
}

<!-- Busquedas -->
<div>
    <h2>Busquedas Activas</h2>
    <div id="BusquedasActivas" class="row">
        @if (ViewBag.BusquedasActivas != null)
        {
            foreach (RRHH.Models.Jobs row in ViewBag.BusquedasActivas)
            {
                <div class="col-md-8 col-md-offset-1">
                    <h3><strong>Puesto:</strong> <span class="tituloBusqueda">@row.Name</span></h3>
                    <p><strong>Fecha:</strong> @row.Date</p>
                    <p><strong>Empresa:</strong> @row.Company.Name</p>
                    <p><strong>Descripcion del puesto:</strong> <span class="descripcionBusqueda">@row.Description</span></p>
                    <span class="oculto">@row.ID</span>
                    <p>
                        @if (Session["UsuarioLogueado"] != null)
                    {
                        if ((((RRHH.Models.Users)Session["UsuarioLogueado"]).UserType.ID) == 1)
                        {
                                <a class="button-modal btn btn-danger botonEditar" href="@Url.Action("EditarBusqueda", "ControlPanel", new { id_job = row.ID })" role="button">Editar</a>
                            }
                        }
                    </p>
                </div>
            }
        }
    </div>
</div>
