
@{
    ViewBag.Title = "ModificarEstadoPostulante";
    Layout = "~/Views/Shared/_Layout_ControlPanel.cshtml";
}
@section styles{
    <link href="~/Content/css/controlPanel.css" rel="stylesheet" />
}

<br />
<div class="container">
        <h3>@ViewBag.respuestaEmail</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Postulante</th>
                    <th>Puesto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.datosApply.Postulant.FirstName @ViewBag.datosApply.Postulant.LastName</td>
                    <td>@ViewBag.datosApply.Job.Name</td>
                </tr>
            </tbody>
        </table>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

@*<br />
<h3>@ViewBag.respuestaEmail</h3>
<p>Nombre postulante: @ViewBag.datosApply.Postulant.FirstName @ViewBag.datosApply.Postulant.LastName</p>
<p>Trabajo postulado: @ViewBag.datosApply.Job.Name</p>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@