@{
    ViewBag.Title = "Registro";
}

@section scripts{
    <script src="~/Content/js/bootstrapvalidator.min.js"></script>
    <script src="~/Content/js/registro.js"></script>
}
@section scriptsQnecesitoAntesPagina{
    <script src="~/Scripts/jquery.min.js"></script>
}

@section styles{
    <link href="~/Content/css/registro.css" rel="stylesheet" />
}

<div class="container">

    <form class="well form-horizontal" action="@Url.Action("GuardarNuevoUsuario","Users")" method="post" id="contact_form">
        <fieldset>

            <legend>Datos para registro!!!</legend>

            <!-- FirsName input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Nombre</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="first_name" placeholder="Nombre" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- LastName input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Apellido</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="last_name" placeholder="Apellido" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- E-mail input-->
            <div id="emailDiv" class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="emailInput" name="email" placeholder="E-Mail" class="form-control" data-url="@Url.Action("ValidarEmail","Users")" type="text">
                    </div>
                </div>
                <a id="ValidarEmail" class="btn btn-success">Validar Email</a>
                <span id="CheckMail">
                </span>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Contraseña</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
                        <input id="paswordInput1" name="password" placeholder="Contraseña" class="form-control" type="password">
                    </div>
                </div>
            </div>

            <!-- Password Confirm input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Confirma la contraseña</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
                        <input id="paswordInput2" name="password2" placeholder="Confirma la contraseña" data-url="@Url.Action("ValidarPassword","Users")" class="form-control" type="password">
                    </div>
                </div>
                <span id="CheckPassword">
                </span>
            </div>

            <!-- Phone input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Telefono Celular #</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="phone" placeholder="(011) 4444-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Address input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Dirección</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="address" placeholder="Dirección" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Province select -->
            <div class="form-group">
                <label class="col-md-4 control-label">Provincia</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select class="form-control selectpicker" id="provinceSelect" name="province_id" data-url="@Url.Action("GetCiudades","Users")">
                                <option value="">Seleccione su provincia</option>
                                @foreach (RRHH.Models.Provinces row in ViewBag.Provinces)
                                {
                                    <option value="@row.ID">@row.Name</option>
                                }
                        </select>
                    </div>
                </div>
            </div>

            <!-- City select -->
            <div class="form-group">
                <label class="col-md-4 control-label">Ciudad</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select class="form-control selectpicker" id="citySelect" name="city_id">
                            <option value="">Seleccione su ciudad</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Genre radio checks -->
            <div class="form-group">
                <label class="col-md-4 control-label">Sexo?</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label>
                            <input type="radio" name="genre" value="hombre" /> Hombre
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="genre" value="mujer" /> Mujer
                        </label>
                    </div>
                </div>
            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Completado <i class="glyphicon glyphicon-thumbs-up"></i> Gracias por contactarte.</div>


            <div class="ValidaClass form-group">
                <div class="col-md-4">
                    <span id="Validaciones"></span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" id="btnSubmit" class="btn btn-warning">Registrate <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
